/*.buttons {*/
  /*float: left;*/
/*}*/

button {
  margin-left: 5px;
  margin-right: 5px;
}

canvas {
  float: left;
  border-style: solid;
  border-color: coral;
  border-width: 2px;
}
#desc {
  float: right;
}
